.information-card {
    width:  20rem;
    height: 10rem;
    padding: 2rem;
}

.grid-main {
    grid-area: content;
    display: grid;
    place-items: center;
} 

.grid-dashboard {
    display: grid;
    grid-template-areas: 'menu information';
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.navMenu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

.information {
    grid-area: information;    
}