.model-info {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.model-info > textarea {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(4px);
    font-size: 0.8rem;
}