.group-site-gridContainer {
  padding: 60px 70px;
  width: 100%;
  height: 100%;
  column-gap: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "gruppenavn . . knapper knapper"
    "beskrivelse beskrivelse . . ."
    "intervall antall neste . deltakere"
    "nyeste nyeste utvikling utvikling deltakere";
}
.group-site-buttons {
  grid-area: knapper;
  place-self: center;
}
.group-site-buttons > button {
  margin-left: 7px;
}

.group-site-h1 {
  grid-area: gruppenavn;
}

.group-site-participantList-body, .group-site-participantList-head {
    background-color: rgba(250, 250, 250, 0.7);
  }

.group-site-participantList > th {
    text-align: center;
}
  
.group-site-participantList {
    grid-area: deltakere;
    border-collapse: separate;
    border-spacing: 0.5rem;
    width: 15rem;
    height: 1rem;
}

.group-site-description {
  grid-area: beskrivelse;
  color: var(--title-text);
  padding: 10px;
}
.group-site-donutChart {
  grid-area: nyeste;
  height: 2;
}
.group-site-lineChart {
  grid-area: utvikling;
  padding-top: 70px;
}

.group-site-interval {
  grid-area: intervall;
  height: 100px;
}

.group-site-count {
  grid-area: antall;
  height: 100px;
}

.group-site-next {
  grid-area: neste;
  height: 100px;
}

.group-site-interval,
.group-site-count,
.group-site-next {
  border: 1px solid var(--title-text);
  background-color: white;
  padding: 20px;
  border-radius: 0.5rem;
  width: 250px;
  height: 90px;
}
