.group-list-table-body, .group-list-table-head {
  background-color: rgba(250, 250, 250, 0.7);
}

.group-list-table {
  padding: 0;
  border-collapse: separate;
  border-spacing: 0 1rem;
  width: 80rem;
  text-align: start;
}